@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


:root {
  --bg-white:: #ffffff;
  --main-blue: #0080dc;
  --main-purple:#9a2df8;
  --bg-black: #07070769;
  --black: #000000;

  --font: 'Quicksand', sans-serif;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
